{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenido %}

<!-- Header -->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Promociones</h1>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Content section 1-->
        <section id="scroll">
            
            <div class="container px-5">
            <br><br>
                <div class="row gx-5 align-items-center">
                  
                        <ul>
                            {% for producto in object_list %}

                                <li> 
                                    
                                    <p> {{ producto.nombreProd }} </p>
                                    
                                    <p>
                                        <a href=" {% url 'Detail' producto.id %} "> Ver más </a>

                                        <a href=" {% url 'Edit' producto.id %} "> Editar </a>
                                        
                                        <a href=" {% url 'Delete' producto.id %} "> Borrar </a>


                                    </p>

                                    
                                    
                                </li>

                            {% endfor %}
                        </ul>
                
                        <p>

                            <a class="btn btn-primary" href="{% url 'Inicio' %}">Regresar a inicio</a>
                
                        </p>
                </div>
                <br>
            </div>
        </section>

{% endblock %}
